page-login {

}

.grid-basic-page {

    ion-col div {
      background-color: #f0f5ff;
      border: 1px solid #e6e9ee;
      border-radius: 15px;
      padding: 12px;
      text-align: center;
    }
  
  }
