<ion-header>
  <ion-navbar>
    <ion-title>
      Ingeniería Civil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    
  <ion-slides pager>
      
    <ion-slide *ngFor="let pagina of paginas">
        
      <h1>{{pagina.tituloSemestre}}</h1>
      <!---->
      <ion-list>
        <ion-item>
          <ion-item-group *ngFor="let nArea of nombresArea">
            <ion-item-divider color="light">{{nArea}}</ion-item-divider>
            <ion-list>
              <ion-item *ngFor="let curso of pagina.nombres">
                {{curso.nombre}}
              </ion-item>

            </ion-list>
            
          </ion-item-group>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>