page-pensum {
    ion-slides {
        height: auto;
      }
}

.body{
    background-image: url("../../assets/imgs/escudo.jpg");
}


.grid-basic-page {

    ion-col div {
      //background-color: #f0f5ff;
      border: 0px solid #457fe4;
      border-radius: 0px;
      padding: 5px 7px;
      text-align: center;
    }
    padding:0px;
}

.nav{
    padding: 1px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.imagen{
    background-image: url('../../assets/imgs/escudo.jpg')
}

.opcional{
    border: 2px solid #103677;
    border-style: dashed;
}

.obligatorio{  
    border-color: #5e93ee;
    border-style: inset;
}

.ion-button{
    flex-wrap: wrap;
    text-align: center;
    padding: 1px;
    font-size: 18px;
    background-color: #ffffff;
    //border: 5px solid #2b0303;
}

