<ion-header>
  <ion-navbar>
    <ion-title>Redes de Estudio</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-slides pager>
    <ion-slide *ngFor="let semestre of carrera.semestres">
      <ion-list>
        <ion-item text-center>{{carrera.codigo}} {{carrera.nombre}} - Semestre {{semestre.numero}}
        </ion-item>
        <ion-item *ngFor="let area of semestre.areas">
          {{area.nombre}}
          <ng-container *ngFor="let curso of area.cursos">
            <ion-list *ngIf="curso.pre.length==0">
              <button (click)="presentPopover(curso.nombre,curso.descripcion,curso.codigo,curso.creditos,carrera.colorfuerte,carrera.colorsuave)" [disabled]="isenabled" ion-item class="grid-basic-page">
                <ng-container *ngIf="curso.tipo=='obligatorio'">
                  <ion-row [style.background-color]="carrera.colorfuerte">
                    <ion-col>
                      <div [style.background-color]="carrera.colorsuave">Código: {{curso.codigo}}</div>
                      <div style="font-weight: bold;" [style.background-color]="carrera.colorfuerte">{{curso.nombre}}</div>
                      <div [style.background-color]="carrera.colorsuave">Créditos: {{curso.creditos}}</div>
                    </ion-col>
                  </ion-row>
                </ng-container>
                <ng-container *ngIf="curso.tipo=='opcional'">
                  <ion-row [style.background-color]="carrera.colorsuave" class="opcional">
                    <ion-col>
                      <div [style.background-color]="carrera.colorsuave">Código: {{curso.codigo}}</div>
                      <div style="font-weight: bold;" [style.background-color]="carrera.colorfuerte">{{curso.nombre}}</div>
                      <div [style.background-color]="carrera.colorsuave">Créditos: {{curso.creditos}}</div>
                    </ion-col>
                  </ion-row>
                </ng-container>
              </button>
            </ion-list>
            <ion-list *ngIf="curso.pre.length!=0">
              <ion-row>

                <ion-col>
                  <button (click)="presentPopover(curso.nombre,curso.descripcion,curso.codigo,curso.creditos,carrera.colorfuerte,carrera.colorsuave)" [disabled]="!isenabled" ion-item class="grid-basic-page">
                    <ng-container *ngIf="curso.tipo=='obligatorio'">
                      <ion-row [style.background-color]="carrera.colorfuerte">
                        <ion-col>
                          <div [style.background-color]="carrera.colorsuave">Código: {{curso.codigo}}</div>
                          <div style="font-weight: bold;" [style.background-color]="carrera.colorfuerte">{{curso.nombre}}</div>
                          <div [style.background-color]="carrera.colorsuave">Créditos: {{curso.creditos}}</div>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                    <ng-container *ngIf="curso.tipo=='opcional'">
                      <ion-row [style.background-color]="carrera.colorsuave" class="opcional">
                        <ion-col>
                          <div [style.background-color]="carrera.colorsuave">Código: {{curso.codigo}}</div>
                          <div style="font-weight: bold;" [style.background-color]="carrera.colorfuerte">{{curso.nombre}}</div>
                          <div [style.background-color]="carrera.colorsuave">Créditos: {{curso.creditos}}</div>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                  </button>
                </ion-col>

                <ion-buttons>
                  <button class="ion-button" outline (click)="presentPopover(curso.nombre,curso.descripcion,curso.codigo,curso.creditos,carrera.colorfuerte,carrera.colorsuave)">
                    <ion-icon class="info" name="more"></ion-icon>
                  </button>
                </ion-buttons>
              </ion-row>
            </ion-list>
          </ng-container>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>