<ion-header>
  <ion-navbar>
    <ion-title>Redes de Estudio</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="body">
  <ion-slides pager>
    <ion-slide *ngFor="let semestre of carrera.semestres">
      <ion-list>
        <ion-item text-center>{{carrera.codigo}} {{carrera.nombre}} - Semestre {{semestre.numero}}
        </ion-item>
        <ion-item *ngFor="let area of semestre.areas">
          {{area.nombre}}
          <ng-container *ngFor="let curso of area.cursos">
            <ion-list *ngIf="curso.pre.length==0">
              <button [disabled]=false ion-item class="grid-basic-page">
                <ng-container *ngIf="curso.tipo=='obligatorio'">
                  <ion-row class="obligatorio">
                    <ion-col>
                      <div>Código: {{curso.codigo}}</div>
                      <div>{{curso.nombre}}</div>
                      <div>Créditos: {{curso.creditos}}</div>
                    </ion-col>
                  </ion-row>
                </ng-container>
                <ng-container *ngIf="curso.tipo=='opcional'">
                  <ion-row class="opcional">
                    <ion-col>
                      <div>Código: {{curso.codigo}}</div>
                      <div>{{curso.nombre}}</div>
                      <div>Créditos: {{curso.creditos}}</div>
                    </ion-col>
                  </ion-row>
                </ng-container>
              </button>
            </ion-list>
            <ion-list *ngIf="curso.pre.length!=0">
              <button class="boton" [disabled]=true ion-item class="grid-basic-page">
                  <ng-container *ngIf="curso.tipo=='obligatorio'">
                      <ion-row class="obligatorio">
                        <ion-col>
                          <div>Código: {{curso.codigo}}</div>
                          <div>{{curso.nombre}}</div>
                          <div>Créditos: {{curso.creditos}}</div>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                    <ng-container *ngIf="curso.tipo=='opcional'">
                      <ion-row class="opcional">
                        <ion-col>
                          <div>Código: {{curso.codigo}}</div>
                          <div>{{curso.nombre}}</div>
                          <div>Créditos: {{curso.creditos}}</div>
                        </ion-col>
                      </ion-row>
                    </ng-container>
              </button>
            </ion-list>
          </ng-container>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>