page-pensum {
    ion-slides {
        height: auto;
      }
}

.body{
    background-image: url("../../assets/imgs/escudo.jpg");
}


.grid-basic-page {

    ion-col div {
      //background-color: #f0f5ff;
      border: 1px solid #457fe4;
      border-radius: 15px;
      padding: 7px;
      text-align: center;
    }
    padding:0px;
    //background-color: #f0f5ff;
    
  
}

.nav{
    padding: 1px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.imagen{
    background-image: url('../../assets/imgs/escudo.jpg')
}

.opcional{
    border: 2px solid #103677;
    border-style: dashed;
}

.obligatorio{  
    border-color: #5e93ee;
    border-style: inset;
}